<h1>Showing video <%= @video.title %></h1>
<div class="video">
  <video width="320" height="240" controls>
    <source src="<%= @video.attachment_url %>" type="video/<%= @extention %>">
      Your browser does not support the video tag.
  </video>
</div>
<%= link_to "Delete",  @video, method: :delete, confirm: "Are you sure that you wish to delete #{@video.title}?" %> <br />
<%= link_to "Back", root_path %>
